<div id="main">
    <div id="b1">
      <br>
      <h1><span>CleanTrip</span></h1>
  </div>
  
  <div id="menu">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li class="dropdown">
          <a routerLink="#" class="dropbtn">Manage Booking</a>
          <div class="dropdown-content">
              <a routerLink="cancel-ticket">Cancel Ticket</a>
              <a routerLink="#">Reschedule</a>
              <a routerLink="#">Show Ticket</a>
              <a routerLink="#">Email Ticket</a>
          </div>
      </li>
      <li style = "float : right" class="dropdown">
        <a routerLink="#" class="sign">SignIn/SignUp</a>
        <div class="dropdown-content">
            <!-- <a routerLink="packages/domestic">Domestic Holidays</a> -->
            <a routerLink="login">Login</a>
            <a routerLink="register">Register</a>
            <a routerLink="/admin-login" routerLinkActive="active">Admin</a>
        </div>
    </li>
    </ul>
</div>
  </div>
