<div class="footer">
    <div class="para"><p>CleanTrip is World largest online bus ticket booking service trusted
        by over many people happy customers. CleanTrip offers bus ticket
        booking through its website.
    </p>
</div>
<div class="social">
    <a href="https://www.facebook.com/"><img altr="fb" [src]="facebook" width="30%" height="80%"></a>&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/"><img altr="fb" [src]="twitter"width="30%" height="80%"></a>
</div>
<h5>@2021 All rights reserved..</h5>
</div>
