
<div class="box4">
  <table>
    <div *ngFor = "let t of arr">
      <tr class="head">
        <td>Bus Name</td>
        <td>Depature</td>
        <td>Duration</td>
        <td>Arrival</td>
        <td>Fare</td>
        <td>Seats Available</td>
      </tr>
    <tr *ngFor="let bus of t.buses">
      <td><p><b>{{bus.busName}}</b></p></td>
      <td><p><b>{{t.dateOfDepature}}</b></p></td>
      <td><p><b>{{t.duration}}</b></p></td>
      <td>{{t.dateOfArrival}}</td>
      <td>{{t.fare}}</td>
      <td>{{t.seatAvailable}}</td>
      <button type="submit" id="btn1" style="float:right;" (click)="toggle()">View Seats</button>
      <div [hidden]="isShowDiv" class="details">
          <form>
            <div class="form-control">
              <label>Choose no of seats:</label>
              <input type="number" [(ngModel)]="seats" name="seats"> 
          </div>
          <div class="form-control">
              <label>Boarding Points</label>
              <select>
                <option></option>
              </select>
          </div>
          <div class="form-control">
            <label>Dropping Points</label>
            <select>
              <option></option>
            </select>
        </div>
          <div class="form-control"> 
              <label>Fare: {{t.fare*seats}}</label>
              
        </div>
      </form>
      </div>
    </tr>
    
  </div>
  </table>
</div>


