
<div class="details">
  <table>
    <div *ngFor = "let t of arr;let x = index;">
      <tr class="head">
        <td>Bus Id</td>
        <td>Bus Name</td>
        <td>Depature</td>
        <td>Duration</td>
        <td>Arrival</td>
        <td>Fare</td>
        <td>Seats Available</td>
      </tr>
      
    <tr *ngFor="let bus of t.buses;">
      <td><p><b>{{bus.busId}}</b></p></td>
      <!-- <td><p><b>{{t.id}}</b></p></td> -->
      <td><p><b>{{bus.busName}}</b></p></td>
      <td><p><b>{{t.dateOfDepature}}</b></p></td>
      <td><p><b>{{t.duration}}</b></p></td>
      <td>{{t.dateOfArrival}}</td>
      <td>{{t.fare}}</td>
      <td>{{t.seatAvailable}}</td>
  
      <button type="submit" id="btn1" style="float:right;" (click)="toggle(bus)">{{view}}</button>
      <div *ngIf="elementsShowing.has(bus)">
      <div class="details">
          <form (ngSubmit)="seatsBook(bus,t)">
            <div class="form-control">
              <label>Choose no of seats:</label>
              <input type="number" [(ngModel)]=book.noOfSeats name="noOfSeats"> 
          </div>
          <div class="form-control">
              <label>Boarding Points</label>
              <select [(ngModel)]=book.boarding name="boarding" placeholder="Select Dropping">
                <option *ngFor="let b of boarding">{{b.stop}},{{b.city}}</option>
              </select>
          </div>
          <div class="form-control">
            <label>Dropping Points</label>
            <select [(ngModel)]=book.dropping name="dropping" placeholder="Select Dropping">
              <option *ngFor="let d of dropping">{{d.stop}},{{d.city}}</option>
            </select>
        </div>
          <div class="form-control"> 
            <label>Fare: </label>
              <p id="fare">{{t.fare*book.noOfSeats}}</p>       
        </div>
        <!-- <input type="hidden" value={{t.id}} [(ngModel)]=book.routeId name="routeId"> -->
        <button type="submit">Proceed</button>
      </form>
      </div>
    </div>
    </tr>
    
  </div>
  </table>
</div>


