<p>view-bus works!</p>
<!-- <ul *ngFor="let t of tripDetails">
  <li>{{t[0]}}</li>
  <li>{{t[1]}}</li>
  <li>{{t[2]}}</li>
  <li>{{t[3]}}</li>
  <li>{{t[4]}}</li>
  <li>{{t[5]}}</li>
  <li>{{t[6]}}</li>
  <li>{{t[7]}}</li>
  <li>{{t[8]}}</li>
</ul> -->

<div class="box4">
  <table>
    <div *ngFor = "let t of arr;">
      <tr class="head">
        <td>Bus Name</td>
        <td>Depature</td>
        <td>Duration</td>
        <td>Arrival</td>
        <td>Fare</td>
        <td>Seats Available</td>
      </tr>
    <tr >
      <td><p><b>{{t[7]}}</b></p></td>
      <td><p><b>{{t[4]}}</b></p></td>
      <td><p><b>{{t[6]}}</b></p></td>
      <td>{{t[5]}}</td>
      <td>{{t[3]}}</td>
      <td>{{t[10]}}</td>
      <button type="submit" id="btn1" style="float:right;">View Seats</button>
    </tr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore omnis iure blanditiis, veritatis laboriosam incidunt?</p>
  </div>
  </table>
</div>


<!-- <ul *ngFor="let t of arr">
  <li>{{t[0]}}</li>
  <li>{{t[1]}}</li>
  <li>{{t[2]}}</li>
  <li>{{t[3]}}</li>
  <li>{{t[4]}}</li>
  <li>{{t[5]}}</li>
  <li>{{t[6]}}</li>
  <li>{{t[7]}}</li>
  <li>{{t[8]}}</li>
  <li>{{t[9]}}</li>
</ul> -->
