

<h2 style="text-align:center">Admin Login</h2>
<br>
<br>
<form (ngSubmit)="loginCheck()">
    <div class="container">
    Enter email : <input type="text" name="t1" [(ngModel)]=adminLogin.email /> <br />
    <span class="check" *ngIf="contactForm.get('emailid').touched && contactForm.get('emailid').hasError('email')"></span>
    Enter password : <input type="password" name="t2" [(ngModel)]=adminLogin.password /> <br />
   <br>
    <div class="butt">
      <div class="btn">
      <button class="cancelbtn" (click) = "goBack()">Cancel</button>
      </div>
      <br><br>
      <div class="btn2">
      <button class="subbutton">Save</button>
      </div>
  </div>

</div>
</form> 