<div class="main">
  <div class="card">
<form (ngSubmit)="changePassword()" [formGroup]="contactForm">
  <div class="container">
<input type="email" name="email" [(ngModel)]=email placeholder="Enter Your email" formControlName="emailid"><br>
<span class="check" *ngIf="contactForm.get('emailid').touched && contactForm.get('emailid').hasError('email')">
  Please enter a valid email id
</span>
<input type="password" name="password" [(ngModel)]=pass placeholder="Enter New password" formControlName="pwd"><br>
<span class="check" *ngIf = "contactForm.get('pwd').touched && contactForm.get('pwd').hasError('minlength')">
  Password should contain minimum 8 characters
</span>
<input type="password" name="confirmPwd"  placeholder="Confirm password" formControlName="confirmPassword"><br>
<span class = "check" *ngIf="contactForm.get('confirmPassword').touched &&contactForm.get('confirmPassword').hasError('minlength')">Password and Confirm Password must be match</span>

<div class="butt">
  <div class="btn">
  <button class="cancelbtn" (click) = "goBack()">Go Back</button>
  </div>
  <br><br>
  <div class="btn2">
    <button class="subbutton" type="submit" [disabled]="!contactForm.valid">Change Password</button>
  </div>
</div>


</div>
</form>
</div>
</div>

