<img [src]="img1" width="100%" height="70%">

<div class="search">
  <form (ngSubmit) = "searchBus()" class="form-inline">
    <input  type="text" name="source" placeholder="From" [(ngModel)]=search.source>
    <input  type="text" name="destination" placeholder="To" [(ngModel)]=search.destination>
    <input  type="date" name="date" [(ngModel)]=search.date>
    <button class="but" type="submit">Search</button>
  </form>

</div>

<div class="offers">

  <img [src]="offer1" width="24%" height="90%">&nbsp;&nbsp;&nbsp;
  <img [src]="offer2" width="24%" height="90%">&nbsp;&nbsp;&nbsp;
  <img [src]="offer3" width="24%" height="90%">&nbsp;&nbsp;&nbsp;
  <img [src]="offer4" width="24%" height="90%">

   </div>

   <div class="us">
     <div class="pic">
     <img [src]="route" width="100%" height="90%">
     <h3>10000+</h3>
     <p>Routes </p>
    </div>
    <div class="pic1">
     <img [src]="bus" width="100%" height="90%">
     <h3>1000+</h3>
     <p>Bus </p>
    </div>
    <div class="pic2">
     <img [src]="happy" width="100%" height="90%">
     <h3>5000+</h3>
      <p>Happy Faces </p>
    </div>
    
    <div class="pic3">
     <img [src]="refund" width="100%" height="90%">
     <h3>100%</h3>
     <p>Refund </p>
    </div>
   
    <div class="pic4">
     <img [src]="help" width="100%" height="90%">
     <h3>24/7</h3>
     <p>Service </p>
    </div> 
    
  </div>


<!-- <mat-form-field>
 <mat-form-field>
  <input type="text" placeholder="From" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]=search.source name="source">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field >
  <input type="text" placeholder="To" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]=search.destination name="destination">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field >
  <input  type="date" name="date" [(ngModel)]=search.date [formControl]="myControl"> 
</mat-form-field>

<button id="btn" type="submit" (click)="searchBus()">Search</button> -->

