li{
    list-style: none;
}
* {
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }

  .pay{
    width: 30%;
    height: 70%;
    margin: auto;
    padding :30px 30px 30px 30px;
    padding-left: 70px;
    background-color: rgb(242, 246, 247);
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=date],input[type=number],input[type=select] {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  

  select {
    width: 80%;
    height : 35px;
    margin: 10px;
  }

  .subbutton {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width:  100%;
    padding: 14px 20px;
    border :none;
    cursor: pointer;
    background-color: #f44336;
  }

  .btn{
 
    width : 20%;
    height : 30%;
    margin-left: 2%;
  }
  
  .btn2{
   
    width : 20%;
    height : 30%;
    margin-left: 35%;
    margin-top: -17%;
  }
  .butt{
    width :150%;
    height :60%;
  }