<div class="pay">
<form (ngSubmit)="payNow()">

    Payment Type:<br>
    <select id="paymentType" [(ngModel)]=payment.paymentType name="paymentType">
        <option value="" disabled selected>Payment Type</option>
        <option>Debit Car</option>
        <option>Credit Card</option>
        <option>UPI</option>
    </select><br>
    <!-- userId: <input type = "number" name="uId" [(ngModel)]=payment.userId><br>
    TicketId : <input type ="number" name= "tId" [(ngModel)]=payment.ticketId><br> -->
    <!-- amount : <input type="number" name="amount" [(ngModel)]=payment.amount><br> -->
    <input type="number" name="card" placeholder="Enter Card Number" [(ngModel)]=payment.cardNumber maxlength="12"><br>
    <input type="text" name="name" placeholder="Enter Name on the Card" [(ngModel)]=payment.nameOnCard><br>
    <input type="text" name="Expiry" placeholder="Enter Expiry Date" [(ngModel)]=payment.expiryDate><br>
    <input type="password" name="cvv" placeholder="Enter CVV" [(ngModel)]=payment.cvv maxlength="3"><br>
   
  
    <div class="butt">
        <div class="btn">
        <button class="cancelbtn" (click) = "goBack()">Go Back</button>
        </div>
        <br><br>
        <div class="btn2">
        <button class="subbutton">Confirm</button>
        </div>
    </div>
</form>
</div>
