
  a:link, a:visited {
   
    text-align: center;
    text-decoration: none;
    color: white;
  }
  button {
    background-color: rgb(72, 143, 214);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    height: 70px;
  }

  .container {
    width: 250px;
    /* padding: 20px 10px 20px 40px; */
    /* background-color: rgb(240, 240, 252); */
    position: absolute;
  }
  .text{
    
    width: 50%;
    position: absolute;
    left: 25%;
    padding: 20px 20px 20px 20px;
  }