<!-- <app-add-bus></app-add-bus>
<app-update-bus-route></app-update-bus-route>
<app-add-route></app-add-route>
<app-delete-bus></app-delete-bus> -->

<div class="container">

   <button><a routerLink="add-bus">Add Bus</a></button><br>
   <button><a routerLink="update-bus-route">Update Bus</a></button><br>
   <button><a routerLink="add-route">Add Route</a></button><br>
   <button><a routerLink="stops">Add Stop</a></button><br>
   <button><a routerLink="bus-list">View Buses</a></button><br>
   <button><a routerLink="view-routes">View Routes</a></button><br>

</div>
<h1 style="text-align: center;">WELCOME ADMIN!!</h1>
<div class="text">
   <h3>
      Admin will have all the rights to change the routes and buses at any time.<br>
      Admin can add a bus, add update Route for the paricular Bus, add a Route and also add a
      Stop.
   
   </h3>
</div>