li{
    list-style: none;
}
* {
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }
  
  input[type=text], input[type=password], input[type=email], input[type=tel],input[type=number] {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }
  .main {   
    width: 100%;
    margin: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(234, 234, 247);;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* Set a style for all buttons */
  .subbutton {
    background-color: rgb(72, 143, 214);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width:  100%;
    padding: 14px 20px;
    border :none;
    cursor: pointer;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    width: 350px;
    clear: both;
    
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  .passenger{
    background-color: rgb(242, 246, 247);
    width: 150%;
    height: 70%;
    border-radius: 35px;
    padding-left: 20px;
  }

  .data{
    background-color:rgb(242, 246, 247);
    width: 20%;
    height: 135%;
    position: absolute;
    left: 79%;
    top: 30%;
    border-radius: 40px;
    padding: 10px;
  }

  .bus{
    width :20%;
    height: 8%;
    position: absolute;
    top: 17%;
  }
  .path{
    width:20%;
    height:25%;
    position: absolute;
  }
  p{
    margin-left: 40% ;
  }
  h4{
    text-align: center;
  }
  .rup{
    width:13%;
    height:5%;
    position: absolute;
    top: 73%;
  }
  label{
    display: inline-block;
    text-align: right;
  }
.btn{
 
  width : 30%;
  height : 30%;
  margin-left: 15%;
}

.btn2{
 
  width : 30%;
  height : 30%;
  margin-left: 60%;
  margin-top: -17%;
}
.butt{
 
  width :150%;
  height :60%;
}