<div class="container">
<form (ngSubmit)="addPassenger()">
    <br>
     <!-- Route Id: <input type="number" name="routeId" [(ngModel)]=booking.routeId><br> -->
    <!-- User Id : <input type="number" name="userId" [(ngModel)]=booking.userId><br> -->
    <ul *ngFor= "let s of seats; let x = index;">
     <div class="passenger">
     <li>Name: <input type="text" name="name" [(ngModel)]=booking.passengers[x].name> </li><br>
     <li>Age : <input type="number" name="age" [(ngModel)]=booking.passengers[x].age></li><br>
     <li>Gender: <input type="text" name="gender" [(ngModel)]=booking.passengers[x].gender></li><br>
     <li>Seat No:<input type="number" name="seatNo"[(ngModel)]=booking.passengers[x].seatNo></li><br>
    </div>
    </ul>
    <button>Proceed To Pay</button>
</form>
</div>
