
<div class="container">
<form (ngSubmit)="addPassenger()">
    <br>
     <!-- Route Id: <input type="number" name="routeId" [(ngModel)]=booking.routeId><br> -->
    <!-- User Id : <input type="number" name="userId" [(ngModel)]=booking.userId><br> -->
    <!-- <input type="text" name="boarding" [(ngModel)]=booking.boarding><br>
    <input type="text" name="droping" [(ngModel)]=booking.droping><br>
    <input type="number" name="amount" [(ngModel)]=booking.amount><br> -->
        
    <ul *ngFor= "let s of seats; let x = index;">
        
        <div class="passenger">
         <br>
         <h3>Passenger {{x+1}}</h3>
     <li> <input type="text" name="name" placeholder="Enter Name" [(ngModel)]=booking.passengers[x].name> </li><br>
     <li><input type="number" name="age" placeholder="Enter Age" [(ngModel)]=booking.passengers[x].age></li><br>
     <li><input type="text" name="gender" placeholder="Enter Gender" [(ngModel)]=booking.passengers[x].gender></li><br>
     <li><input type="number" name="seatNo" placeholder="Enter Seat No" [(ngModel)]=booking.passengers[x].seatNo></li><br>
    </div>

    </ul>

    <div class="data">
    <br>
    <h3 style=" text-align : center">Details Of Trip</h3>
    <hr>
    <h4>Bus Details</h4>
    <div class="bus"><img [src]="bus" width="100%" height="100%"></div>
    
    <p>{{booking.busId}}<br>
    {{booking.busName}}<br>
     Seats: {{num}}</p>
    <br>
    <hr>
    <h4>Route Details - {{booking.routeId}}</h4>
    <div class="path"><img [src]="path" width="100%" height="100%"></div>
    <p><b>Source</b><br>
    {{booking.source}}<br>
    {{booking.boarding}}<br>
    <br><br>
    {{booking.date}}<br>
    {{booking.duration}}<br>
        <br><br>
    <b>Destination</b><br>
    {{booking.destination}}<br>
    {{booking.droping}}<br>
    </p>
    <br>
    <hr>

    <h4>Amount Details</h4>
    <div class="rup"><img [src]="rupee" width="100%" height="100%"></div>
   <p> Fare : {{booking.amount}}</p>
   <br>
   <b><hr></b>
   
   <h3>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         {{booking.amount}}</h3>
   
    </div>
    <div class="butt">
    <div class="btn">
    <button class="cancelbtn" (click) = "goBack()">Go Back</button>
    </div>
    <br><br>
    <div class="btn2">
    <button class="subbutton">Proceed To Pay</button>
    </div>
</div>
</form>
</div>
