<div class="cardp">
  <div class="main">
    <div class="card">
      <h2 style="text-align: center;">My Profile</h2>
<form (ngSubmit)="update()">
  <div class="container">
<label>First Name</label>
<input type="text" name="firstName" [(ngModel)]=this.user.firstName>
<br>
<label>Last Name</label>
<input type="text" [(ngModel)]=this.user.lastName name="lastName">
<br>
<label>Email id</label>
<input type="email" [(ngModel)]=this.user.email name="email"><br>
<label for="gender">Gender</label><br>

<select id="gender" name="gender" [(ngModel)]=user.gender>
    <option value="" disabled selected>Gender</option>
    <option>Male</option>
    <option>Female</option>
</select><br>

<label>Contact</label>
<input type="number" [(ngModel)]=this.user.contact name="contact"><br>
<label>Date Of Birth</label>
<input type="date" [(ngModel)]=this.user.dob name="dob"><br>
<label>Wallet Balance</label>
<h4>{{this.user.wallet}}</h4><br>

<div class="butt">
  <div class="btn">
  <button class="cancelbtn" (click) = "goBack()">Go Back</button>
  </div>
  <br><br>
  <div class="btn2">
  <button class="subbutton">Save and Update</button>
  </div>
</div>

</div>
</form>
</div>
</div>
</div>
