    <div class="container">
    <form (ngSubmit)="register()">
    
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" [(ngModel)]=user.firstName><br>
            <!-- <span class="error" *ngIf="firstname.invalid && firstname.touched">First Name is Required</span> -->
    
            <label for="lastName">Last Name</label>
    
            <input type="text" name="lastname" [(ngModel)]=user.lastName><br>
            <!-- <span class="error" *ngIf="lastname.invalid && firstname.touched">Last Name is Required</span> -->

            <label for="email">Email ID</label>
            <input type="email" name="email" [(ngModel)]=user.email><br>
            <!-- <span class="error" *ngIf="email.invalid && email.touched">Email is Required</span>  -->

            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]=user.password maxlength="8"><br>
            <label for="contact">Contact Number</label>
            <input type="number" name="contact" [(ngModel)]=user.contact><br>


            <label for="gender">Gender</label><br>
            <select name="gender" [(ngModel)]=user.gender name="gender">
                <option>Male</option>
                <option>Female</option>
            </select>
            
      
            <label for="dob">Date Of Birth</label>
            
            <input type="date" name="dob" [(ngModel)]=user.dob>

    
            <div class="butt">
                <div class="btn">
                <button class="cancelbtn" (click) = "goBack()">Go Back</button>
                </div>
                <br><br>
                <div class="btn2">
                <button class="subbutton">Register</button>
                </div>
            </div>
</form>
</div>
