<div class="container">
<form (ngSubmit)="register()" [formGroup]="contactForm">
    
<!-- <fieldset>
    <legend>Get Registered!</legend>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
    <table>
        <tr>
            <td>-->

            <label for="firstName">First Name</label>
            <input type="text" name="firstName" [(ngModel)]=user.firstName formControlName="fname">
            <span class="check" *ngIf="contactForm.get('fname').touched && contactForm.get('fname').hasError('required')">Please fill this field</span><br>
    
            <label for="lastName">Last Name</label>
    
            <input type="text" name="lastname" [(ngModel)]=user.lastName formControlName="uname">
            <span class="check" *ngIf="contactForm.get('uname').touched && contactForm.get('uname').hasError('required')">Please fill this field</span><br>
           
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]=user.email formControlName="emailid">
            <span class="check" *ngIf="contactForm.get('emailid').touched && contactForm.get('emailid').hasError('required')">Please fill this field</span><br>
            <span class="check" *ngIf="contactForm.get('emailid').touched && contactForm.get('emailid').hasError('email')">
             Please enter a valid email id
            </span><br>

            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]=user.password maxlength="8" formControlName="pwd">
            <span class="check" *ngIf = "contactForm.get('pwd').touched && contactForm.get('pwd').hasError('required')">
                Please fill this field
              </span><br>
              <span class="check" *ngIf = "contactForm.get('pwd').touched && contactForm.get('pwd').hasError('minlength')">
                Password should contain minimum 8 characters
              </span><br>
            <label for="contact">Contact Number</label>
            <input type="number" name="contact" [(ngModel)]=user.contact><br><br>


            <label for="gender">Gender</label><br>
            <select name="gender" [(ngModel)]=user.gender name="gender">
                <option>Male</option>
                <option>Female</option>
            </select><br><br>
            
      
            <label for="dob">Date Of Birth</label>
            
            <input type="date" name="dob" [(ngModel)]=user.dob><br>

    
            <div class="butt">
                <div class="btn">
                <button class="cancelbtn" (click) = "goBack()">Go Back</button>
                </div>
                <br><br>
                <div class="btn2">
                <button class="subbutton">Register</button>
                </div>
            </div>
</form>
</div>
<!-- </fieldset>
<div class="main">
    <div class="card">
<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="container">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName="firstname" [(ngModel)]=user.firstName name="firstName">
    <span class="error" *ngIf="firstname.invalid && firstname.touched">First Name is Required</span>
    <br>
    <label>Last Name</label>
    <input type="text" id="lastname" formControlName="lastname" [(ngModel)]=user.lastName name="lastName">
    <span class="error" *ngIf="lastname.invalid && firstname.touched">Last Name is Required</span>
    <br>
    <label>Email</label>
    <input type="email" id="email" formControlName="email" [(ngModel)]=user.email name="email">
    <span class="error" *ngIf="email.invalid && email.touched">Email is Required</span><br>
    <label>Password</label>
    <input type="password" id="password" formControlName="password" [(ngModel)]=user.password maxlength="8" name="password"><br>
    <label>Contact</label>
    <input type="tel" id="contact" formControlName="contact" [(ngModel)]=user.contact name="contact"><br>
    <label for="gender">Male</label>
    <input type="radio" id="male" formControlName="gender" value="male" [(ngModel)]=user.gender name="gender">
    <label>Female</label>
    <input type="radio" id="female" formControlName="gender" value="female" [(ngModel)]=user.gender name="gender"><br>
    <label>Date Of Birth</label>
    <input type="date" id="dob" formControlName="dob" [(ngModel)]=user.dob name="dob"><br>
    <button value="submit">Register</button>
</div>
</form>
</div>
</div> -->
